table {
  border-collapse: collapse;
}
tr {
  background: blue;
  border: 1px solid #fff;
}

table:hover tr, table:hover td, table:hover div
 {
  max-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 2s;
}

th{
  font-size: 25px;
  padding: 0 10px;
}


tr, td, div  {
  max-height: 100px;
  font-size: 20px;
  padding: 0 10px;
}
