
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Add book</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script type="text/javascript">
        function addBook() {
            if (confirm("Are you sure you want to add this book ?")) {

                var author = $("#author").val();
                var title = $("#title").val();
                var pages = $("#pages").val();
                var genre = $("#genre").val();

                if (author != '' && title != '' && pages != '' && genre != '') {
                    if (/^\+?(0|[1-9]\d*)$/.test(pages)) {
                        $.ajax({
                            url: "AddBook/AddNewBook",
                            type: "POST",
                            data: { author: author, title: title, pages: pages, genre: genre },
                            success: function (result) {
                                location.href = '/Browse';
                                alert(result);
                            }
                        })
                    }
                    else {
                        alert("Pages should be a positive number");
                    }
                }
                else {
                    alert("Complete the required fields!");
                }
            }
        }

        $(document).ready(function () {
            try {
                if (JSON.parse(sessionStorage["currentUser"]) !== null) {
                    $('#submitButton').click(addBook);
                    console.log("nu i bine");
                }
                else {
                    location.href = "/Login";
                }
            }
            catch (err) {
                location.href = "/Login";
            }
    });
    </script>

    <style type="text/css">

        body {
            background-image: url("../../books_image.jpg");
        }

        label {
            font-size: larger;
        }

        div.settings {
            display: grid;
            grid-template-columns: max-content max-content;
            grid-gap: 5px;
        }

        .container {
            position: absolute;
            top: 42%;
            left: 42%;
            margin-top: -50px;
            margin-left: -50px;
            width: 280px;
            height: 230px;
            background-color: darkcyan;
        }

        p {
            font-size: large;
        }

        .submit {
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        h1 {
            text-align: center;
            font-size: 100px;
            color: rgb(55, 55, 243);
        }
    </style>
</head>
<body>
    <h1>Book library</h1>
    <div class="container">
        <p>Add new book</p>
        <div class="settings">
            <label>Author</label>
            <input type="text" id="author" name="author">
            <label>Title</label>
            <input type="text" id="title" name="title">
            <label>Pages</label>
            <input type="text" id="pages" name="pages">
            <label>Genre</label>
            <input type="text" id="genre" name="genre">
        </div>
        <input type="submit" class="submit" value="Add" id="submitButton">
    </div>
</body>
</html>
